/* .Header {} */

.Header li {
    list-style: none;
    display: inline;
    margin: 20px;
    padding: 5px;
    border: 1px solid salmon;
    border-radius: 5px;
    background-color: brown;
}

.Header li a {
    color: white;
    text-decoration: none;
}